<div class="list_carousel">
  <ul id="js-professionals-carousel">
    <% @professionals.each do |professional| %>
      <li>
      <%= link_to image_tag(professional.avatar.url), "#", data: { "reveal-id" => "userModal#{professional.id}" } %>
      </li>
    <% end %>
  </ul>
  <div class="clearfix"></div>
</div>
<% @professionals.each do |professional| %>
  <%= render partial: 'professional_modal', locals: {professional: professional} %>
<% end %>
