<div class="row">
    <div class="small6 centered columns">

        <h1>Modificar Sucursal</h1>

        <%= render 'form' %>

        <%= link_to 'Ver', @branch %> |
        <%= link_to 'Volver', branches_path %>

    </div>
</div>