<div class="row">
  <div class="small-6 small-centered columns">

    <h1>Modificar Sucursal</h1>

    <%= render 'form' %>

    <%= link_to 'Borrar', @branch, method: :delete, data: { confirm: 'tas seguro?' } %>
    <%= link_to 'Ver', @branch %> |
    <%= link_to 'Volver', branches_path %>

  </div>
</div>