<div class="row">
  <div class="small-8 columns small-centered ">
    <h1>Listado de sucursales</h1>
    <% @branches.each do |branch| %>
    <li>
      <%= link_to branch.name, branch, class: :'branch-header' %>
      <% if user_signed_in? and policy(current_user).admin? %>
      <%= link_to 'Editar', edit_backend_branch_path(branch) %>
      <% end %>
    </li>
    <% end %>

    <br>
    <% if user_signed_in? and policy(current_user).admin? %>
      <%= link_to 'Crear Sucursal', new_backend_branch_path %>
    <% end %>
  </div>
</div>




