<!--<div class="row">
  <div class="small-8 columns small-centered ">
    <h1>Listado de sucursales</h1>

    <table>
      <thead>
        <tr>
          <th>nombre</th>
          <th>acciones</th>
        </tr>
      </thead>

      <tbody>
        <% @branches.each do |branch| %>
        <tr>
          <td>
            <%= link_to branch.name, branch %>
          </td>
          <td>
              <%= link_to 'Editar', edit_branch_path(branch) %> |
              <%= link_to 'Borrar', branch, method: :delete, data: { confirm: 'tas seguro?' } %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'Crear Sucursal', new_branch_path %>

  </div>
</div>
-->

<div class="header">
  <img class="bg-img" src="assets/fondo_header.png">
  <div class="row">
    <div class="small-4 columns">
      <img src="assets/agalma.png" style="margin-top: 1em">
    </div>
    <div class="small-7 columns top-nav">
      <div class="contain-to-grid">
        <nav class="top-bar" >
          <ul class="title-area">
            <!-- Title Area -->
            <li class="name"></li>
            <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar"><a href="#"><span>Menu</span></a></li>
          </ul>

          <section class="top-bar-section">
            <!-- Left Nav Section -->
            <ul class="left">
              <li><a href="#">Quiénes Somos</a></li>
              <li><a href="#">Galería</a></li>
              <li><a href="#">Contacto</a></li>
              <li><a href="#">Iniciar Sesión</a></li>
            </ul>           
          </section>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="small-3 columns nav-wrapper" >
  <div class="small-12">
    <ul class="side-nav ">
      <li><a href="#">Centro Terapeutico Educativo</a></li>
      <li class="divider"></li>
      <li><a href="#">Centro de Estimulación Temprana</a></li>
      <li class="divider"></li>
      <li><a href="#">Consultorios Externos</a></li>
      <li class="divider"></li>
      <li><a href="#">Integración Escolar</a></li>
      <li class="divider"></li>
      <li><a href="#">Investigación y Docencia</a></li>
      <li class="divider"></li>
      <li><a href="#">Links de Interés</a></li>
      <li class="divider"></li>
      <li>
        
        <div class="nav-footer">
        <img src="assets/redes_sociales.jpg" alt="contactos ">
        <p>
        Teléfono:(011) 4567-8769<br>
        Lacroze 7178<br>
        José León Suárez- Buenos Aires<br>
        Argentina
        </p>
        </div>
      </li>

    </ul>
  </div>
</div>

