<div class="row">
    <div class="small-10 small-centered columns">

        <h1>Modificar Sucursal</h1>

        <%= render 'form' %>

        <%= link_to 'Ver', branch_path(@branch)  %> |
        <%= link_to 'Volver', :back %>

    </div>
</div>
