<div class="row">
    <div class="small-6 small-centered columns">

        <h1>Modificar Sucursal</h1>

        <%= render 'form' %>

        <%= link_to 'Ver', [:backend, @branch] %> |
        <%= link_to 'Volver', backend_branches_path %>

    </div>
</div>
