<h1>Modificar Sucursal</h1>

<%= render 'form' %>
<br />
<div class="btn-group">
  <%= link_to 'Ver', branch_path(@branch), class: 'btn btn-primary'%>
  <%= link_to 'Borrar', [:backend, @branch], method: :delete, data: { confirm: 'Estas seguro?' }, class: 'btn btn-danger' %>
</div>
<%= link_to 'Volver', :back, class: 'btn btn-primary'%>
