<% if user_signed_in? %>
 <% if policy(current_user).admin? %>	
 <div class="row">
  <div class="small-8 columns small-centered ">
    <h1>Listado de sucursales</h1>

    <table>
      <thead>
        <tr>
          <th>nombre</th>
          <th>acciones</th>
        </tr>
      </thead>

      <tbody>
        <% @branches.each do |branch| %>
        <tr>
          <td>
            <%= link_to branch.name, [:backend, branch] %>
          </td>
          <td>
              <%= link_to 'Editar', edit_backend_branch_path(branch) %> |
              <%= link_to 'Borrar', branch, method: :delete, data: { confirm: 'tas seguro?' } %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'Crear Sucursal', new_backend_branch_path %>

  </div>
</div>
<% end %>
<% end %> 
