<% if user_signed_in? %>
<div class="row">
  <div class="small-8 columns small-centered ">
    <h1>Listado de sucursales</h1>

    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Acciones</th>
        </tr>
      </thead>

      <tbody>
      <% @branches.each do |branch| %>
      <tr>
        <td>
          <%= link_to branch.name, [:backend, branch] %>
        </td>
        <td>
          <%= link_to 'Editar', edit_backend_branch_path(branch) %> |
          <% if policy(current_user).admin? %>
          <%= link_to 'Borrar', [:backend, branch], method: :delete, data: { confirm: 'Estas seguro?' } %>
          <% end %>
        </td>
      </tr>
      <% end %>
      </tbody>
    </table>

    <br>
    <% if policy(current_user).admin? %>
    <%= link_to 'Crear Sucursal', new_backend_branch_path %>
    <% end %>
  </div>
</div>
<% end %>
