<div class="nav-wrapper" >
  <div class="small-12">
    <ul class="side-nav ">
      <li><a href="#">Centro Terapeutico Educativo</a></li>
      <li class="divider"></li>
      <li><a href="#">Centro de Estimulación Temprana</a></li>
      <li class="divider"></li>
      <li><a href="#">Consultorios Externos</a></li>
      <li class="divider"></li>
      <li><a href="#">Integración Escolar</a></li>
      <li class="divider"></li>
      <li><a href="#">Investigación y Docencia</a></li>
      <li class="divider"></li>
      <li><a href="#">Links de Interés</a></li>
      <li class="divider"></li>
      <%= render 'frontend/shared/social' %>

    </ul>
  </div>
</div>