<div class="nav-wrapper" >
  <ul class="side-nav items-container">
    <li><a href="#">Centro Terapeutico Educativo</a></li>
    <li><a href="#">Centro de Estimulación Temprana</a></li>
    <li><a href="#">Consultorios Externos</a></li>
    <li><a href="#">Integración Escolar</a></li>
    <li><a href="#">Investigación y Docencia</a></li>
    <li><a href="#">Links de Interés</a></li>
    <%= render 'frontend/shared/social' %>
  </ul>
</div>
