<li>
    <div class="nav-footer">
        <a href="" style="display:inline"><img src="<%= image_path("facebook.png") %>" alt="contactos " /> </a>
        <a href="" style="display:inline"><img src="<%= image_path("in.png") %>" alt="contactos " /> </a>
        <a href="" style="display:inline"><img src="<%= image_path("mail.png") %>" alt="contactos " /> </a>
        <a href="" style="display:inline;"><img src="<%= image_path("ubicacion.png") %>" alt="contactos " /> </a>
        <p>Teléfono:(011) 4567-8769</p>
        <p>Lacroze 7178</p>
        <p>José León Suárez- Buenos Aires</p>
        <p>Argentina</p>
    </div>
</li>
