<div class="row">
  <div class="col-sm-6">
    <%= render 'backend/branches/mod_branches' %>
  </div>
  <div class="col-sm-6">
    <%= render 'backend/pages/mod_pages' %>
  </div>
  <div class="col-sm-6">
    <%= render 'backend/posts/mod_posts' %>
  </div>
  <div class="col-sm-6">
    <%= render 'backend/users/mod_users' %>
  </div>
</div>
