<div class="row">
  <div class="small-12 large-3 columns">
    <%= render 'backend/branches/mod_branches' %> 
  </div>
  <div class="small-12 large-3 columns">
    <%= render 'backend/pages/mod_pages' %>
  </div>
  <div class="small-12 large-3 columns">
    <%= render 'backend/posts/mod_posts' %>
  </div>
  <div class="small-12 large-3 columns">
    <%= render 'backend/branches/mod_branches' %>
  </div>
</div>
