<div class="form-group">
  <%= f.input :titles , label: 'Titulos' %>
</div>
<div class="form-group">
  <%= f.object.curriculum.file.filename %>
  <%= f.input :curriculum , label: 'Curriculum' %>
</div>
<div class="form-group">
  <%= f.input :profession , label: 'Profesion' %>
</div>


