<h1>Modificar Pagina</h1>

<%= render 'form' %>
<br />
<div class="btn-group">
  <%= link_to 'Ver', page_path(@page), class: 'btn btn-primary' %>
  <%= link_to 'Borrar', backend_page_path(@page), method: :delete, data: { confirm: 'Esta seguro?' }, class: 'btn btn-danger' %>
</div>
<%= link_to 'Volver', :back, class: 'btn btn-primary' %>
