<div class="row">
  <div class="small-10 small-centered columns">

    <h1>Modificar Pagina</h1>

    <%= render 'form' %>

    <%= link_to 'Ver', backend_page_path(@page)  %> |
    <%= link_to 'Volver', :back %>

  </div>
</div>
