<h1>Listing image_sliders</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @image_sliders.each do |image_slider| %>
      <tr>
        <td><%= image_tag(image_slider.image) %></td>
        <td><%= link_to 'Edit', edit_backend_image_slider_path(image_slider) %></td>
        <td><%= link_to 'Destroy', backend_image_slider_path(image_slider), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Image slider', new_backend_image_slider_path %>
