<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @image_slider.image %>
</p>

<%= link_to 'Edit', edit_backend_image_slider_path(@image_slider) %> |
<%= link_to 'Back', backend_image_sliders_path %>
