<div class="mod-list">
  <ul class="items-container">
    <h2><%= link_to "Noticias", backend_posts_path %></h2>
    <% if @posts.empty? %>
        <p>Todavia no tiene noticias cargadas.</p>
        <%= link_to "Crear noticia", new_backend_post_path %>
    <% else %>
        <% for post in @posts %>
            <li><%= link_to post.title, edit_backend_post_path(post) %></li>
        <% end %>
    <% end %>
  </ul>
</div>
