<div class="row">
  <div class="small-10 small-centered columns">

    <h1>Modificar Pagina</h1>

    <%= render 'form' %>

    <%= link_to 'Ver', backend_post_path(@post)  %> |
    <%= link_to 'Volver', :back %> |
    <%= link_to 'Destroy', backend_post_path(@post), method: :delete, data: { confirm: 'Esta seguro?' } %>
  </div>
</div>
