<% if !notice.blank? %>
  <div class="alert success">
    <%= notice %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>
<% if !error.blank? %>
  <div class="alert error">
    <%= error %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>
