@import '../general_imports';

.branch-container {
  background: $white;
  border-radius: 10px;
  color: $dark-grey;
  margin: 20px 40px;
  padding: 10px 30px;

  a {color: $dark-grey;}

  h2 {
    color: $black;
    font-weight: normal;
    margin:.5em 1.3em;
   
    .info-wrapper {
      color: lighten($black, 30%);
      padding: 25px 0;
      
      h2 {color: $grey; }
    
      p { padding: 3px; }
    }
  }
}

.branch-container.small {
  padding: 1em;
  margin: 0;
}
.branch-header {
  color: $dark-grey;

  & * {
    color: $dark-grey;
  }
}
