label.inline {
  color: $white;
}

input,
textarea {
  border-radius: 5px;
}

textarea {
  min-height: 10em;
  resize: none;
}

label.msg-label {
  margin-top: 3em;
}


.button {
  background-color: #fff;
  border-radius: 5px;
  color: $black;
  font-size: .8em;
  margin: 2em .5em;
  padding: .4em 1em;
  text-transform: capitalize;
}

.button:hover {
  background-color: $white;
  color: $black;
}