@import '../general_imports';

label.inline {
  color: $white;
}

input,
textarea {
  border-radius: 5px;
}

textarea {
  min-height: 10em;
  resize: none;
}

label.msg-label {
  margin-top: 3em;
}


.button {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
  color: $black;
  font-size: .8em;
  padding: .4em 1em;
  text-transform: capitalize;
  transition: box-shadow .3s ease-in;

  &:hover {
    box-shadow: 0 1px 5px 5px rgba(0, 0, 0, .1);
  }
}

.button:hover {
  background-color: $white;
  color: $black;
}