  p {color: $black }
  a { color: $black }
  img {
 
    width:200px;
    height: 100px;
    }    
  label.inline{
    color: $black;
  }
  input{
    border-radius: 3em;
  }
  
  .button{ 
    color: $white;
    background-color: $dark-grey;

    border-radius: 0 1em 0 1em;
    width:auto;
    padding:1em;
    margin:0;
    display:block;
  }
 
