@import '../general_imports';
@import '../bourbon_custom';

.top-bar-container {
  padding: 0;
  position: relative;
  z-index:1;
}

.top-bar {
  background-color: $blue;
  border-radius: 0 0 .5em .5em;
  text-align: center;

  .links-container {
    margin-top: 0;
    padding: 1em;
    background-color: transparent;

    .item {
      font-size: .8em;
      font-weight: bold;
      padding: 1em;
    }
  }
}

.logo {
  background: image-url('logo_hh.png') no-repeat;
  display: block;
  height: 100px;
  width: 300px;
  z-index:1;
}

.logo, .logo:hover { color: transparent; }

.items-container {
  list-style: none;

  .item-container { text-transform: capitalize; }
}
// =side nav module
.side-nav {
  background-color: $blue;
  margin: 0;
  text-align: center;

  .items-container {
    padding: 0 10px 0 0;

    .item-container {
      border-bottom: $white-border;
      font-size: 16px;
      margin: 0;
      padding: .67em .5em;
      position: relative;

      .item {
        color: $white;

        &:hover {
          @include animation(scale .4s ease-in-out);
        }
      }
    }

    .item-container:hover {
      border-color: $transparent;
    }

    .nav-footer {
      line-height: 30px;
      margin: 30px 0;
      text-align: center;

      a {
        display: inline-block;
        margin-bottom: 2em;
      }

    }
  }
}

