.top-bar-container{ padding: 0 }

.top-bar {
  border-radius: 0 0 .5em .5em;
  background-color: $blue;
  text-align: center;
  .links-container {
    .item {
      font-size: .8em;
      font-weight: bold;
    }
  }
}

.logo {
  display: block;
  width: 300px;
  height: 100px;
  top: 0;
  background: image-url('logo_hh.png') no-repeat;
}

.logo, .logo:hover { color: transparent; }

.items-container {
  list-style: none;
  .item-container{ text-transform: capitalize; }
}
// =side nav module
.side-nav {
  margin: 0;

  .items-container {
    border-right: $white-border;
    padding: 0 10px 0 0;
    .item-container {
      position: relative;
      border-bottom: $white-border;
      padding: .67em .5em;
      margin: 0;
      font-size: 16px;
      a, .item { color: $white }
    }

    .item-container:hover {
      background-color: $white;
      box-shadow: 3px 3px 5px $black;
      a { color: $black; }
    }
    .item-container:hover:after {
      content: " ";
      position: absolute;
      width: 47px;
      height: 47px;
      top: 0;
      right: -1.45em;
      background-color: $white;
      box-shadow: 3px -3px 3px $black;
      @include transform(rotate(45deg) scale(0.7, 0.7));
    }

    .nav-footer {
      margin: 30px 0;
      text-align: center;
      line-height: 30px;
      a {
        display: inline-block;
        margin-bottom: 2em;
      }

    }
  }
}
