.top-bar-container{
  padding: 0;
  z-index:1;
}

.top-bar {
  border-radius: 0 0 .5em .5em;
  background-color: $blue;
  text-align: center;
  .links-container {
    .item {
      font-size: .8em;
      font-weight: bold;
    }
  }
}

.logo {
  display: block;
  width: 300px;
  height: 100px;
  background: image-url('logo_hh.png') no-repeat;
  z-index:1;
}

.logo, .logo:hover { color: transparent; }

.items-container {
  list-style: none;
  .item-container{ text-transform: capitalize; }
}
// =side nav module
.side-nav {
  margin: 0;
  text-align: center;

  .items-container {
    border-right: $white-border;
    padding: 0 10px 0 0;
    .item-container {
      position: relative;
      border-bottom: $white-border;
      padding: .67em .5em;
      margin: 0;
      font-size: 16px;

      .item {
        color: $white;

        &:hover {
          @include animation(scale .4s ease-in-out);
        }
      }
    }

    .item-container:hover {
      border-color: $transparent;
    }

    .nav-footer {
      margin: 30px 0;
      text-align: center;
      line-height: 30px;
      a {
        display: inline-block;
        margin-bottom: 2em;
      }

    }
  }
}
