@import '../general_imports';

.post-container {
  margin: 1em auto;
  border-bottom: 1px solid $grey;
}

.post-header {
  text-align: left;
}

.post-main {
  padding: 1em 2em;
  text-indent: 1em;
  text-align: justify;

  & p { line-height: 1.5em; }
}

.post-title {
  color: $grey;
  font-size: 27px;
}
