a {
  color: $white;
  font-weight: 100;
}

h1,
.page-title {
  font-family: 'Trebuchet MS', OfficinaSans-Italic, sans-serif;
  font-style: italic;
  font-weight: 300;
  text-transform: capitalize;
}

.page-title {
  border-bottom: 1px solid $grey;
  color: $grey;
  font-size: 2.3em;
  padding: .2em auto;
}

h2,h3,h4{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 24px;
}

h3 {
  font-size: 20px;
  color:$white;
  margin:1em 1.3em
}

p {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: lighter;
  text-indent: 1.3em;
  margin:0;

}
