
<div class="box">
  <div class="box-header">
    <h3 class="box-title"><%= title || 'Menus: ' %></h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body no-padding">
    <table class="table table-condensed">
      <tbody>
      <tr>
        <th>Menu</th> <th>Cantidad de Paginas</th> <th>Acciones</th>
      </tr>
      <% menus.each do |menu| %>
        <tr>
          <td><%= link_to menu.name, edit_backend_menu_path(menu) %></td>
          <td><%= menu.pages.size %></td>
          <td class="table-actions">
            <%= edit_link menu %>
          </td>
        </tr>
      <% end %>
      </tbody>
      </table>
    </div>
    <!-- /.box-body -->
  </div>
  <br>

