<% if @menu.branch  %>
  <h1> <%= "Editar Menu para la Sucursal #{@menu.branch.name}" %> </h1>
<% else %>
  <h1>Editar Menu</h1>
<% end %>

<%= render 'form' %>

<%= link_to 'Show', backend_menu_path(@menu) %> |
<%= link_to 'Back', backend_menus_path %>
