<p class="page-title"> <%= t '.noticias' %> </p>

<%= render @posts  %>

<% if user_signed_in? and policy(current_user).admin? %>
  <%= link_to "crear noticia", new_backend_post_path, class: :'button' %>
<% end %>
