@import '../foundation-variables';
@import '../general_imports';

@media #{$large-up} {


  .top-bar-container {
    top: -10px;
  }


  .top-bar {
    margin-top: -5px;

  }
  .header-container { 
    border-top: solid 30px $light-light-blue;
    min-height: 310px;
 }


  .reveal-modal {

    a.close-reveal-modal{
      background-color: #fff;
      border-radius: 10em;
      box-shadow: 0em 0em 1em $black;
      padding:0 .3em .1em .3em;
      right: -.6em !important;
      top: -.5em !important;
    }
  }

  .session-modal-wrapper{

    .form-wrapper{
      border-right: 1px solid $black;
      padding : 2em;
    }
  }


  .left-sidebar,
  .right-sidebar,
  .main-container {
    position: relative;
  }

  .left-sidebar .side-nav {
    margin-right: -3em;

    &.vomit-blue { margin-top: -4em; }
  }

  .right-sidebar .side-nav {
    margin-left: -3em;
  }

  .main-container main {
    z-index: 1;
  }

  .left-sidebar {
    z-index: 4;
  }

  .left-sidebar .side-nav {
    z-index: 5;
  }
}
