.orbit-container {
  margin: em-calc(40) auto;
  position: static;
  ol.orbit-bullets{
    background-color: transparent;
    position: static;
    width:172px;
    margin:auto;
    li{box-shadow: 1px 1px 4px $black;}

}

}
a.logo {
   margin:auto
}


.side-nav{
  .items-container{
    border-right: none;
    padding: 0;
    margin-left: 0;
     text-align: center;
    @include clearfix();
    .item-container{
      width: 50%;
      float: left;
      backgreound: red;
      &:hover, &:active{
        border-radius: .2em;
        border-bottom-color: transparent;
      }
      &:hover:after{content: none}
    }
  }
}
