.orbit-container {
  margin: em-calc(40) auto;
  position: static;
}

.side-nav{
  .items-container{
    border-right: none;
    padding: 0;
    margin-left: 0;
     text-align: center;
    @include clearfix();
    .item-container{
      width: 50%;
      float: left;
      backgreound: red;
      &:hover, &:active{
        border-radius: .2em;
        border-bottom-color: transparent;
      }
      &:hover:after{content: none}
    }
  }
}
