@import '../foundation-variables';

@media #{$small-only}{
  .side-nav {
    display: none
  }

  .gallery-media .img {
    clear: both;
    display: block;
    float: none;
    margin: 5px auto;
  } 
}