@import '../foundation-variables';

@media #{$small-only}{

  .side-nav {
    display: none
  }
  /* TODO: stop slider, hint: $( document  ).width(); */
  .slider-wrapper{ display: none; }
  .gallery-media .img {
    clear: both;
    display: block;
    float: none;
    margin: 5px auto;
  } 
}