/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require foundation_and_overrides
 *= require_self
 */

// some variables
@import 'variables';

body{
background: $blue;
color: $white;
       font-family: sans-serif;
}
a{ color: $white }

h1{
    font-weight: 300;
    font-style: italic;
//  font-family: OfficinaSans-Italic;
}




// =side nav module
.side-nav{
    padding: 1em;
    margin: 0;
    .items-container{
        list-style: none;
        border-right: $white-border;
        padding:0 em-calc(15) 0 0;
        .item-container{
            position:relative;
            border-bottom: $white-border;
            padding: .8em .2em ;
            text-transform: capitalize;
            margin: 0;
            a{
                color: $white;
            }
        }
        $after-width: 3.2em;
        .item-container:hover:after{
            content:" ";
            position:absolute;
            width:$after-width;
            height:$after-width;
            top:0;
            right: -($after-width/2);
            z-index:1;
            background-color:$white;
            -webkit-transform: rotate(45deg) scale(0.7,0.7);
            box-shadow: 3px -3px 3px $black;
            }

        .item-container:hover{
            background-color:$white;
            box-shadow: 0px 0px 5px $black;
            a{
                position:relative;
                color:$black;
                z-index:2;
            }
        }
     }

}
.nav-footer{
        margin:30px 0;
        text-align:center;
        line-height:5px;
}
// Header
.header{
  background-image: image-url('fondo_header.jpg');
  background-repeat: repeat-x;
  .bg-img{
    float:left;
  }
}

// Top bar
.top-nav{
  border-radius: .5em;
  background-color: $blue;
  text-align: center;
  .top-nav-item{
    color: $white;
    display: inline-block;
    padding: 1.5em;
    font-size: .8em;
    font-weight: bold;
  }
}

// Search
.search-container{
    background-color: $grey;
    border: solid 3px $white;
    padding: .5em;
    input.rounded{
        border-radius: .7em 0 0 .7em;
        padding:.5em;
        font-size: .7em;
        margin-bottom:0em;
        border:0;
        }
    a{
        border-radius:0 .7em .7em 0;
        margin-bottom:0;
        font-size:.7em;
        color:$black;
        background-color:$white;
        }
    .row{
        margin-bottom:0;
        padding: 0;
        }
}

// slide

.slide-container{
    padding:.3em;
    position: relative;
    top: 30px;
    background-color: $white;
    box-shadow: 5px 5px 20px #000;
        text-align: center;
    img.slide{
        }
}

.logo{
    display:block;
    width: 400px;
    height: 212px;
    background: image-url('agalma_logo.png') no-repeat;
//    margin-top: 1em;
    text-indent: -999999px;
    margin: 0 auto;
}
// =resets
a { text-decoration: none }

.branch-container{
    background: $white;
    color: $dark-grey;
    padding: 1em;
    border-radius: 10px;
    margin: 10px auto;
}



.slide-step{
    background-color: $blue;
    padding-left: 1em;
    position: relative;
    border-radius: 2em;

}


