/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 */

// some variables
@import 'variables';

@import 'general';
.nav-wrapper{
  border-right: 1px solid $white;
  .items-container{
    .item {}
    .item:hover{
      background-color: $white;
      color: $black;
      box-shadow: 0 3px 5px;
    }
    .nav-footer{
      img{
	margin-bottom: 20px;
      }
      margin-top: 50px;
      font-style: italic;
      text-align: center;
    }
  }

}
.header{
  background-image: image-url('fondo_header.jpg');
  background-repeat: repeat-x;
  .bg-img{
    float:left;
  }
}

.top-nav{
  border-radius: .5em;
  background-color: $blue;
  text-align: center;
  .top-nav-item{
    color: $white;
    display: inline-block;
    padding: 1.5em;
    font-size: .8em;
    font-weight: bold;
  }
}
