// some variables
@import 'variables';
@import 'foundation_and_overrides';
@import 'general';
@import 'foundation/components/orbit';
@import 'bourbon';
@import 'modules/typography';
@import 'modules/navs';
@import 'modules/forms';

// Header
.header-container {
  background: $white image-url('bg_header_lines.svg') no-repeat;
  background-size: cover;
}


// Search
.search-container {
  background-color: $grey;
  border: solid 3px $white;
  padding: .5em;
  input.rounded {
    border-radius: .7em 0 0 .7em;
    padding: .5em;
    font-size: .7em;
    margin-bottom: 0em;
    border: 0;
  }
  a {
    margin:0;
    height : 22px;
    border-radius: 0 .7em .7em 0;
    margin-bottom: 0;
    font-size: .7em;
    color: $black;
    background-color: $white;
  }
  .search-button {
    border-radius: 0 5px 5px 0;
    height: 22px;
  }
  .row {
    margin-bottom: 0;
    padding: 0;
  }
}

// slide

.slide-container {
  padding: .3em;
  position: relative;
  top: 30px;
  background-color: $white;
  box-shadow: 5px 5px 20px #000;
  text-align: center;
}

// =resets


.branch-container {
  background: $white;
  color: $dark-grey;
  padding: 1em;
  border-radius: 10px;
  margin: 10px auto;
}

@media #{$medium-up}{
  .pages-dropdown { display: none }
}

// hide slider for small screens
@media #{$small-only}{
  .side-nav {
    display: none
  }
  .orbit-container {
    display: none
  }
}

.slide-step {
  background-color: $blue;
  padding-left: 1em;
  position: relative;
  border-radius: 2em;

}

.search-container {
  .columns {
    padding: 0
  }
  .search-input {
    margin: 0;
    padding: 0px 10px;
    font-size: 10px;
    border-radius: 5px 0 0 5px;
    border: none;
    height: 22px;
  }
}

.main-wrapper {
  padding: 2em 0;
  .post {
    h2 {
      padding: 2em
    }
  }
}

.branch-container {
  margin: 20px 40px;
  padding: 10px 30px;
  h2 {
    font-weight: normal
  }
  .info-wrapper {
    padding: 25px 0;
    color: lighten($black, 30%);
    h2{color: $grey}
    p {
      padding: 3px
    }
  }

}

.alert {
  padding: 1em
}

.success {
  background: green
}

//.error {
//  background: #f04124
//}


.main-header {
  border-bottom: 1px solid $grey;
  padding-bottom: .3em;
  color: #000;
  margin-bottom: 1.5em;
}

.orbit-container {
  position: relative;
  top: 50px;
  margin-bottom: em-calc(40);
  overflow: inherit;
  width: em-calc(400);
  height: em-calc(208);
  background-color: $white;
  box-shadow: em-calc(10) em-calc(10) em-calc(10) $black;

  .orbit-slides-container {
    width: em-calc(400);
    margi: 0;
    z-index: 1;
  }

  ul {
    background-color: $white
  }

  li.slide-item {
    display: none
  }

  li.slide-item.active {
    display: inherit;
    img{
    border: .5em solid $white;}
    width: em-calc(400);

    img {
      box-shadow: 1px 1px $black
    }
  }

  ol.orbit-bullets {
    background-color: $blue;
    position: relative;
    right: 38%;
    top: em-calc(-30);
    margin: 0;
    padding: .3em 1em;
    border-radius: 1em;

    li {
      float: left;
      width: em-calc(15);
      height: em-calc(15);
      margin: 0 .4em;
      background-color: $white;
    }

    li.active { background-color: $light-blue }
  }
}

// media query for the slider
/* @media #{$medium-only}{ */
/*   @import "medium"; */
/* } */

.orbit-timer { display: none !important }

@media #{$medium-only}{
  @import 'mq/medium-only';
}
@media #{$large-only}{
  @import 'mq/large';
}
@media #{$medium-up}{
  @import 'mq/medium';
}
// contacts 

.contact-wrapper{
  .button{
    width: 6em;
  }
}

.registration-wrapper{

}
.reveal-modal{


  border-radius: 5em 0 5em 0;

  img{
    width:75%;
  }
}

// sesssion modal

.session-modal-wrapper{
@import 'modules/modals';
  .form-wrapper{
  
    }
  .user_remember_me {
    margin-left:1.5em;
    }  
  .register * {
    margin: 1em 0;
    }       
}

.register-modal-wrapper{
   @import 'modules/modals';
   .form-wrapper{ border:none}
   .modal-header{
     text-align: center
   }
   img {
     min-width: 200px;
     }
   padding: 0 5em;
}