// some variables
@import 'variables';
@import 'foundation_and_overrides';
@import 'general';
@import 'foundation/components/orbit';
@import 'bourbon';
@import 'modules/typography';
@import 'modules/navs';
@import 'modules/forms';
 @import 'modules/posts';

// Header
.header-container {
  background: $white image-url('bg_header_lines.svg') no-repeat;
  background-size: cover;
}


// Search
.search-container {

  background-color: $grey;
  border: solid 3px $white;
  padding: .5em;
  .columns {
    padding: 0
  }

  a {
    background-color: $white;
    border-radius: 0 .7em .7em 0;
    color: $black;
    font-size: .7em;
    height: 22px;
    margin: 0;
    margin-bottom: 0;
  }

  .search-input {
    margin: 0;
    padding: 0px 10px;
    font-size: 10px;
    border-radius: 5px 0 0 5px;
    border: none;
    height: 22px;
  }

  .row {
    margin-bottom: 0;
    padding: 0;
  }
  input.button{
    margin:0;
    border-radius: 0 5px 5px 0;
    padding: .27em 1em;
    }   
}

.branch-container {
  background: $white;
  border-radius: 10px;
  color: $dark-grey;
  margin: 10px auto;

  a {color: $dark-grey;}

  h2{
    color: $black;
    margin:.5em 1.3em;
  }
}
.branch-container.small {
  padding: 1em;
  margin: 0;
}
.main-wrapper {
  padding: 2em 0;

  .post {

    h2 { padding: 2em; }
  }
}

.branch-container {
  margin: 20px 40px;
  padding: 10px 30px;

  h2 { font-weight: normal; }
  .info-wrapper {
    color: lighten($black, 30%);
    padding: 25px 0;
    h2 {color: $grey; }
    p { padding: 3px; }
  }

}

.branch-header {
  color: $dark-grey;

  & * {
    color: $dark-grey;
  }
}

.alert { padding: 1em; }

.success { background: $green; }


//.error {
//  background: #f04124
//}

.orbit-container {
  background-color: $white;
  box-shadow: em-calc(10) em-calc(10) em-calc(10) $black;
  height: em-calc(208);
  margin-bottom: em-calc(40);
  overflow: inherit;
  position: relative;
  top: 50px;
  width: em-calc(400);

  .orbit-slides-container {
    margin: 0;
    width: em-calc(400);
    z-index: 1;
  }

  ul { background-color: $white; }

  li{ 
    img{
      border: .5em solid $white;
      }
    }   

  li.active {
    display: inherit;
    width: em-calc(400);
    }

  ol.orbit-bullets {
    background-color: $blue;
    border-radius: 1em;
    margin: 0;
    padding: .3em 1em;
    position: relative;
    right: 38%;
    top: em-calc(-30);

    li {
      background-color: $white;
      float: left;
      height: em-calc(15);
      margin: 0 .4em;
      width: em-calc(15);
    }

    li.active { background-color: $light-blue; }
  }
}
.orbit-timer { display: none !important }

.orbit-bullets:empty { display: none; }

//*-*-*-*-*-*-*-*-*-*-*-*-* Media Querys
@media #{$medium-only}{
  @import 'mq/medium-only';
}
@media #{$large-only} {
  @import 'mq/large';
}
@media #{$medium-up} {
  @import 'mq/medium';
}

@media #{$small-only}{
  @import 'mq/small-only';
}


// contacts

.contact-wrapper {
  .button { width: 6em; }
}

.registration-wrapper{
  .reveal-modal {
    border-radius: 5em 0;
    img { width: 75%; }
    }
}

// sesssion modal
.reveal-modal{
  border-radius: 5em 0 5em 0;
}
.session-modal-wrapper {
  @import 'modules/modals';
  .user_remember_me { margin-left: 1.5em; }
  .register * { margin: 1em 0; }
}

.register-modal-wrapper {
  @import 'modules/modals';
  padding: 0 5em;
  .form-wrapper { border: 0; }
  .modal-header { text-align: center; }

  img { min-width: 200px; }
}


.register-modal-wrapper{
   @import 'modules/modals';
   .form-wrapper{ border:none}
   .modal-header{
     text-align: center
   }
   img {
     min-width: 200px;
     }

   padding: 0 5em;
}

.page-container {
  section { margin-top: 2em; }
}

.page-content img {
  border: 3px solid $white;
  box-shadow: 0 1px 3px rgba(0,0,0,.3);
  margin: .5em;
}

// FIXME: arreglar estooooooo!
.search-container > .row { margin: 0 100px; }


.gallery-thumb {
  border: .5em solid $white;
  box-shadow: 1px 1px $black;
}
