/*
*= require ./modules/nivo-slider
*= require ./mq/medium-only
*= require ./mq/small-only
*= require ./mq/medium
*= require ./mq/large
*= require ./modules/forms
*/

// some variables
@import 'foundation/components/grid';
@import 'variables';
@import 'bourbon_custom';
@import 'modules/general';


// Header
.header-container {
  background: $white image-url('bg_header_lines.svg') no-repeat;
  background-size: cover;
}


// Search
.search-container {
  background-color: $grey;
  border: solid 3px $white;
  padding: .5em;

  .columns {
    padding: 0
  }

  li.item {
    display: inline;
    float: right;

    a {
      border-radius: 0 .7em .7em 0;
      color: $black;
      font-size: .7em;
      height: 22px;
      margin-bottom: 0;
      margin: 0 1em;
    }
  }



  .search-input {
    border: 0;
    border-radius: 5px 0 0 5px;
    font-size: 10px;
    height: 22px;
    margin: 0;
    padding: 0 10px;
  }

  .row {
    margin-bottom: 0;
    padding: 0;
  }

  input.button {
    background-color: $blue;
    border-radius: 0 5px 5px 0;
    margin:0;
    padding: .27em 1em;
  }
}

.branch-container {
  background: $white;
  border-radius: 10px;
  color: $dark-grey;
  margin: 10px auto;

  a {color: $dark-grey;}

  h2 {
    color: $black;
    margin:.5em 1.3em;
  }
}

.branch-container.small {
  padding: 1em;
  margin: 0;
}

.main-wrapper {
  padding: 2em 0;

  .post {

    h2 { padding: 2em; }
  }
}

.branch-container {
  margin: 20px 40px;
  padding: 10px 30px;

  h2 { font-weight: normal; }
  .info-wrapper {
    color: lighten($black, 30%);
    padding: 25px 0;
    h2 {color: $grey; }
    p { padding: 3px; }
  }

}

.branch-header {
  color: $dark-grey;

  & * {
    color: $dark-grey;
  }
}

.alert { padding: 1em; }

.success { background: $green; }

.slider-wrapper {
  margin:0 auto;
  margin-top: -45px;
  max-width: 1170px;
  padding:0;
  position:relative;
  z-index:0;

  .columns {padding:0}
}
.row { max-width: 1170px; }



// contacts

/* .contact-wrapper { */
/*   .button { width: 6em; } */
/* } */

.registration-wrapper{
  .reveal-modal {
    border-radius: 5em 0;
    img { width: 75%; }
  }
}

// sesssion modal
.reveal-modal{
  border-radius: 5em 0 5em 0;
}
.session-modal-wrapper {
  @import 'modules/modals';
  .user_remember_me { margin-left: 1.5em; }
  .register * { margin: 1em 0; }
}

.register-modal-wrapper {
  @import 'modules/modals';
  padding: 0 5em;
  .form-wrapper { border: 0; }
  .modal-header { text-align: center; }

  img { min-width: 200px; }
}


.register-modal-wrapper{
  @import 'modules/modals';
  .form-wrapper{ border:none}
  .modal-header{
    text-align: center
  }
  img {
    min-width: 200px;
  }

  padding: 0 5em;
}

.page-container {
  section {
    margin-top: .5em;
    border-top: 1px solid $grey;
  }
}

.page-content img {
  border: 3px solid $white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  margin: .5em;
}

// FIXME: arreglar estooooooo!
//.search-container > .row { margin: 0 100px; }


.gallery-thumb {
  border: .5em solid $white;
  box-shadow: 1px 1px $black;
}

.intro-content{
  background-position: 0 70%;
  background: $white image-url('bg_header_lines.svg') no-repeat;
  border-radius: 1em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  margin: 3em;
  padding-top:2em;

  p {
    color: magenta;
    margin-top:300px;
    text-align:center;
  }
}

[class*='-modal'] {display: none;}
