@import 'plugins/bootstrap.min';
@import 'backend/AdminLTE';

.title-field {
  text-transform: capitalize;
}

@import 'font-awesome';

.cke_top, .cke_bottom {
  background-image: none !important;
  background: #ECEEEC !important;
}
.thumb {
  max-width: 100%;
}


[class*='icheckbox'], [class*='iradio'] {
  margin-right: 1em;
}

.callout {
  margin: 0;
}
