@import 'plugins/bootstrap.min';
@import 'backend/AdminLTE';

.title-field {
  text-transform: capitalize;
}

@import 'font-awesome';

.cke_top, .cke_bottom {
  background-image: none !important;
  background: #ECEEEC !important;
}
.thumb {
  max-width: 100%;
}


[class*='icheckbox'], [class*='iradio'] {
  margin-right: 1em;
}

.callout {
  margin: 0;
}

.sortable-list {

  ul {
    background: white;
    border: 1px solid rgba(0, 0, 0, .3);
    list-style: none;
    min-height: 1em;
    padding: 1em 2em;
  }

  li:hover {
    cursor: move;
  }

}
.pages-middle-arrow{
  text-align: center;
}

@media (max-width: 990px){
  .pages-middle-arrow{display: none;}
}
