body{
  background-color: $light-grey;
  color: $white;
  font-family: sans-serif;
}
$all-container-br: 2em;
.all-container{
  background: $blue image-url('bg_main_lines.svg') no-repeat;
  background-size: 100%;
  border-radius: 0  0 $all-container-br $all-container-br;
}
.main-footer{
  background: $light-grey;
  padding: 2em;
}
.copyright{
  color: $dark-grey;
  font-size: .8em;
}



