@import 'variables';
body{
    background-color: $light-grey;
    color: $white;
    font-family: sans-serif;
}
.all-container{
  background: $blue image-url('fondo_main.svg') no-repeat;
  background-size: 100%;
  border-bottom-left-radius: 3em;
  border-bottom-right-radius: 3em;
}
.main-footer{
  background: $light-grey;
  padding: 2em;
}
.copyright{
  color: $dark-grey;
  font-size: .8em;
}
a{ color: $white;
   font-weight:100;
}

h1{
    font-weight: 300;
    font-style: italic;
//	font-family: OfficinaSans-Italic;
}
p{
    margin:0;
}
