// =Colores agalma
$transparent: rgba(0, 0, 0, 0);
$blue       : #008ba8;
$blue       : #4b7fbf;
$grey       : #eee;
$white      : #f5f5f5;
$dark-grey  : #6e6e6e;
$light-grey : #eaeaea;
$black      : #666;
$light-blue : #6fcff5;
$green      : #00a65a;

// =Border
$white-border : 1px solid $grey;

