// =Colores agalma
$transparent      : rgba(0, 0, 0, 0);
$blue             : #396294;
$turquoise        : #8fd8e5;
$grey             : #eee;
$white            : #f5f5f5;
$dark-grey        : #6e6e6e;
$light-grey       : #eaeaea;
$black            : #666;
$light-light-blue : #dbe5f1;
$green            : #00a65a;
$light-blue       : #6804bc;

// =Border
$white-border : 1px solid $grey;

