// =Colores agalma
$blue       : #008ba8;
$grey       : #eee;
$white      : whitesmoke;
$dark-grey  : #6e6e6e;
$light-grey : #eaeaea;
$black      : #666;


// =Border
$white-border : 1px solid $white;