<footer class="main-footer">
  <div class="row">
    <div class="small-12 large-8 columns">
      <p class="copyright"> Diseño Corporativo : <a  href="http://www.boomdg.com.ar">  Boom Estudio </a> <a class="copyright" href="http://skavenger.com.ar/homerswebpage"> . </a> </p>
    </div>
    <div class="small-12 large-4 columns">
      <p class="copyright">2014 Agalma ® Todos los derechos reservados </p>

    </div>
  </div>
</footer>
