<footer class="main-footer">
  <div class="row">
    <div class="small-12 large-4 large-offset-8">
      <p class="copyright">2014 Agalma ® Todos los derechos reservados </p>
    </div>
  </div>
</footer>
