<div class="header">
  <div class="row">
    <div class="small-12 large-4 columns">
      <a class="logo"  href="<%= url_for :root %>">Agalma</a>
    </div>
    <div class="small-12 large-8 columns top-nav">
      <div class="contain-to-grid">
	<nav class="top-bar" >

	  <section class="top-bar-section">
	    <!-- Left Nav Section -->
	    <ul class="left">
	      <li><a href="#">Quiénes Somos</a></li>
	      <li><a href="#">Galería</a></li>
	      <li><a href="#">Contacto</a></li>
	      <%= render 'devise/menu/registration_items' %>
	      <%= render 'devise/menu/login_items' %>
	    </ul>
	  </section>
	</nav>
      </div>
    </div>
  </div>
</div>