
<a class="nav-btn" id="nav-open-btn" href="#nav">menu</a>
<nav id="nav" role="navigation">
  <div class="block">
    <ul>
      <%= render 'pages_nav' %>
    </ul>
    <a class="close-btn" id="nav-close-btn" href="#top">volver</a>
  </div>
</nav>
