<li class="item-container"><%= link_to @cTeraEd.title, @cTeraEd, class: :item %></li>
<li class="item-container"><%= link_to @cEsTemp.title, @cEsTemp, class: :item %></li>
<li class="item-container"><%= link_to "Consultorios Externos", url_for(:consultorios_externos), class: :item %></li>
<li class="item-container"><a class="item" href="#">Integración Escolar</a></li>
<li class="item-container"><a class="item" href="#">Investigación y Docencia</a></li>
<li class="item-container"><a class="item" href="#">Links de Interés</a></li>
