<div class="search-container">
  <div class="row">
    <div class="small-12 large-4 columns">
      <div class="row">
      <div class="small-8 columns">
        <!-- <input class="search&#45;input" type="text" placeholder="Ingrese busqueda..."> -->
      </div>
      <div class="small-4 columns">
        <!-- <button class="search&#45;button" type="button"> BUSCAR </button> -->
      </div>
    </div>
    </div>
  </div>
</div>
