<div class="search-container">
     <div class="row">
      <div class="large-4 columns">
      	   <div class="row collapse">
           	<div class="small-8 columns">
          	     <input class="rounded" type="text" placeholder="ingrese busqueda...">
        	</div>
        	<div class="small-4 columns search-button">
        	     <a href="#" class="button postfix">BUSCAR</a>
        	</div>
      	   </div>
      </div>
     </div>
</div>
     