<div class="side-nav vomit-blue" >
  <ul class="items-container">
<%#    <li><%= render 'search' % > </li> %>
    <li><%= render 'select_branch_form' %></li>
    <%= render 'pages_nav' %>
  </ul>
</div>
