<div class="side-nav" >
  <ul class="items-container">
    <li class="item-container"><%= link_to @cTeraEd.title, @cTeraEd %></li>
    <li class="item-container"><%= link_to @cEsTemp.title, @cEsTemp %></li>
    <li class="item-container"><%= link_to "Consultorios Externos", url_for( controller: 'branches', action: 'consultorios_externos') %></li>
    <li class="item-container"><a class="item" href="#">Integración Escolar</a></li>
    <li class="item-container"><a class="item" href="#">Investigación y Docencia</a></li>
    <li class="item-container"><a class="item" href="#">Links de Interés</a></li>
    <%= render 'social' %>
  </ul>
</div>
