<div class="side-nav" >
  <ul class="items-container">
    <li class="item-container"><a class="item" href="#">Centro Terapeutico Educativo</a></li>
    <li class="item-container"><a class="item" href="#">Centro de Estimulación Temprana</a></li>
    <li class="item-container"><a class="item" href="#">Consultorios Externos</a></li>
    <li class="item-container"><a class="item" href="#">Integración Escolar</a></li>
    <li class="item-container"><a class="item" href="#">Investigación y Docencia</a></li>
    <li class="item-container"><a class="item" href="#">Links de Interés</a></li>
    <%= render 'social' %>
  </ul>
</div>