
<ul data-orbit
  data-options="animation:fade;
  timer_speed: 4000;
  slide_number:false;
  pause_on_hover:false;
  navigation_arrows:false;
  animation_speed:200; ">

  <% @slider_images.each do |slide| %>
  <li>
    <%= image_tag slide.image.url, class: 'slide-item' %>
  </li>
  <% end %>
</ul>

