<div class="slider-wrapper theme-default">
  <div id="slider" class="nivoSlider">
    <% @slider_images.each do |slide| %>
      <%= image_tag slide.image.url, data: {thumb: slide.image.url(:thumb)} %>
    <% end %>
  </div>
  <!-- <div id="htmlcaption" class="nivo&#45;html&#45;caption"> -->
  <!--   <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>. -->
  <!-- </div> -->
</div>

