<ul data-orbit class="example-orbit" >
    <li> <%= image_tag "slideshow/slide1.jpg" %> </li>
    <li> <%= image_tag "slideshow/slide2.jpg" %> </li>
    <li> <%= image_tag "slideshow/slide3.jpg" %> </li>
</ul>
