<li>
    <div class="nav-footer">
        <a class="social-icon" href="#in"><%= image_tag 'facebook.png' %></a>
        <a class="social-icon" href="#mail"><%= image_tag 'in.png' %></a>
        <a class="social-icon" href="#mail"><%= image_tag 'mail.png' %></a>
        <a class="social-icon" href="#ubicacion"><%= image_tag 'ubicacion.png' %></a>
        <p>Teléfono:(011) 4567-8769</p>
        <p>Lacroze 7178</p>
        <p>José León Suárez- Buenos Aires</p>
        <p>Argentina</p>
    </div>
</li>
