<li>
    <div class="nav-footer">
        <img src="<%= image_path("redes_sociales.jpg") %>" alt="contactos ">
        <p>Teléfono:(011) 4567-8769</p>
        <p>Lacroze 7178</p>
        <p>José León Suárez- Buenos Aires</p>
        <p>Argentina</p>
    </div>
</li>