<div class="nav-footer social">
  <a class="social-icon" target="_blank" href="https://www.facebook.com/agalma.atencionterapeutica">
    <i class="icon-facebook"></i>
  </a>
  <a class="social-icon" target="_blank" href="http://www.linkedin.com/company/centro-agalma">
    <i class="icon-linkedin"></i>
  </a>
  <a class="social-icon" target="_blank" href="mailto:info@centroagalma.com.ar">
    <i class="icon-envelope"></i>
  </a>
  <a class="social-icon" target="_blank" href="#ubicacion">
    <i class="icon-location"></i>
  </a>
  <a class="social-icon" target="_blank" href="#ubicacion">
    <i class="icon-skype"></i>
  </a>
</div>
