<div class="all-container">
  <div class="row">
    <div class="small-8 small-centered columns">
      <h1>Seleccione su sucursal de interes</h1>
    </div>
  </div>
  <% @branches.each do |branch| %>
  <div class="row">
    <div class="small-6 small-centered columns ">
      <section class="branch-container">
        <%= link_to branch.name, branch %>
      </section>
    </div>
  </div>
  <% end %>
</div>
